{% extends 'base.html' %}

{% block title %} Your Madlib Story {% endblock %}

{% block content %}
    <div class="story">

    <p>One day a(n) {{ char1 }} wandered into a {{ place }} in search of friends.

    He saw a {{ char2 }} on a tree.

    “Will you be my friend?" asked the {{ char1 }}.

    Replied the {{ char2 }}, “You are too {{ adjective1 }}. You can not {{ verb }} from trees like me."</p>

    <p>Next, the {{ char1 }} met a {{ char3 }}. He asked him to be his friends.

    But the {{ char3 }} said, “You are too {{ adjective1 }} to play in my burrow!"</p>

    <p>Then the {{ char1 }} met a {{ char4 }}.

    “Will you be my friend? He asked.

    “How can I?" asked the {{ char4 }}.

    “You are too {{ adjective1 }} to leap about like me."</p>

    <p>The {{ char1 }} was upset. He met a {{ char5 }} next.

    “Will you be my friend?" he asked the {{ char5 }}.

    The {{ char5 }} said, “Sorry, sir, you are too {{ adjective1 }}."</p>

    <p>The next day, the {{ char1 }} saw all the {{ group }} in the {{ place }} running for their lives.

    The {{ char1 }} asked them what the matter was.

    The bear replied, “There is a {{ char6 }} in the {{ place }}. He’s trying to {{ verb }} us all up!"

    The {{ group }} all ran away to hide.

    The {{ char1 }} wondered what he could do to solve everyone in the {{ place }}.</p>

    <p>Meanwhile, the {{ char6 }} kept {{ verb }}ing up whatever he could find.

    The {{ char1 }} walked up to the {{ char6 }} and said, “Please, Mr. {{ char6 }}, do not {{ verb }} up these poor {{ group }}."

    “Mind your own business!" growled the {{ char6 }}.

    The {{ char1 }} has a no choice but to give the {{ char6 }} a {{ adjective2 }} {{ noun }}.

    The frightened {{ char6 }} ran for his life.</p>

    <p>The {{ char1 }} ambled back into the {{ place }} to announce the {{ adjective3 }} news to everyone.

    All the {{ group }} thanked the {{ char1 }}.

    They said, “You are just the {{ adjective4 }} {{ physical_trait }} to be our friend."</p>
    </div>

{% endblock %}